<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>

	<link href="/css/main.css" rel="stylesheet">

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	</head>
	<body>

		<nav>
			<ul>
				<li><a href="#">blog</a></li>
				<li><a href="#">portfolio</a></li>
				<li><a href="#">hire me</a></li>
			</ul>
		</nav>

		<header id="profile">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<img src="/assets/img/avatar.jpg" alt="Daniel Morgan" />
						<h1>{{name}}</h1>
						<div class="about-me"><p>{{description}}</p></div>
						<div class="social-links">
							<a href="https://twitter.com/Morgan345"><span class="icon-twitter">Twitter: @Morgan345</span></a>
							<a href="https://plus.google.com/+DanielMorgan345"><span class="icon-google-plus">Google+: +DanielMorgan345</span></a>
							<a href="https://github.com/DanielMorgan"><span class="icon-github">GitHub: DanielMorgan</span></a>
							<a href="https://bitbucket.org/DanielMorgan"><span class="icon-bitbucket">BitBucket: DanielMorgan</span></a>
							<a href="/feed.xml"><span class="icon-rss">RSS Feed</span></a>
							<a href="mailto:me@danielmorgan.co.uk"><span class="icon-mail">Email: me@danielmorgan.co.uk</span></a>
						</div>
					</div>
				</div>
			</div>
		</header>

		<section id="content">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						{{{body}}}
					</div>
				</div>
			</div>
		</section>

	</body>
</html>